.presentation {
    align-content: center;
    background-color: antiquewhite;
    text-align: center;
}
body {
    align-content: center;
    background-color: antiquewhite;
    text-align: center;
}
.image {
    size: 60px;
}
.formulaire {
    align-content: center;
    text-align: center;
}